.containerIntro {
    background-image: url('../../assets/img/bg-intro2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.imgChen {
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

.imgChen.fade-in {
    opacity: 1;
}

.imgChen img {
    height: 600px;
    margin-left: 38%;
    margin-top: 6%;
}